@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #f6f6f6;
  font-family: "Sora", sans-serif;
}

body {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid #000;
}
